# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties

# iOS
ios/Pods/
ios/build/
*.xcworkspace
!default.xcworkspace

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# VS Code
.vscode/

# Fastlane
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots
ios/fastlane/test_output

# IntelliJ
*.iml
.idea/

# Metro
.metro-health-check*

# Temporary files
*.log
*.tmp
*.temp
