# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
.expo/
.expo-shared/

# Android
android/app/build/
android/build/
android/.gradle/
android/app/.cxx/
android/local.properties
*.hprof

# Bundle artifacts
*.jsbundle

# VS Code
.vscode/

# IntelliJ
*.iml
.idea/

# Metro
.metro-health-check*

# Temporary files
*.log
*.tmp
*.temp
